/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");
@font-face {
  font-family: "Butler";
  src: url("./assets/img/ButlerStencil-ExtraBold.woff2");
}

:root{
  --primary-blue: #0d6efd;
  --dark-primary-blue: #0c5dd6;
  --light-grey: #e6e9ec;
  --grey: rgb(245, 245, 245);
  --dark-grey: #45505b;
}

/* General Item */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  top: 0;
  right: 0;
  font-family: "Poppins", sans-serif !important;
  max-width: 100vw;
}

img {
  width: 100%;
}

h1 {
  font-family: "Butler";
  letter-spacing: -1px;
  font-weight: 500;
  color: var(--dark-grey);
}

h3, strong{
  color: var(--dark-grey);
}

p {
  color: var(--dark-grey);
  font-size: 4vh;
  font-weight: 400;
}

a, .btn-link {
  text-decoration: none !important;
}

body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(232, 240, 247); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-blue); /* color of the scroll thumb */
  border-radius: 2rem; /* roundness of the scroll thumb */
  border: none; /* creates padding around scroll thumb */
}

/* APP */
.app-cl {
  min-height: 100vh;
  width: 100vw;
  /* background-image: url(./assets/img/bg-2.png); */
  /* background-image: url(./assets/img/bg-wave-light.png); */
  background-color: #fff;
  background-position: center;
}

/* Navbar */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}
@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #21252af0;
    left: -300px;
  }
}

/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a, .nav-menu a:focus {
  display: flex;
  align-items: center;
  color: var(--dark-grey);
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: var(--light-grey);
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.nav-menu a i, .nav-menu a:focus i {
  font-size: 20px;
}
.nav-menu a span, .nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: var(--dark-grey);
}
@media (min-width: 992px) {
  .nav-menu a, .nav-menu a:focus {
    width: 56px;
  }
  .nav-menu a span, .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}
.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu .active strong, .nav-menu a:hover strong, .nav-menu li:hover > a {
  color: #fff;
  background: var(--primary-blue);
}
.nav-menu a:hover span, .nav-menu .active span, .nav-menu .active:focus span, .nav-menu li:hover > a span {
  color: #fff;
}
.nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}
.nav-menu a:hover span, .nav-menu li:hover > a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 9998;
  border: 0;
  background: var(--light-grey);
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff !important;
  background-color: var(--primary-blue);
}

/* Home */
.home {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  /* background-image: url(./assets/img/bg-wave-grey.png); */
}

.home h1 {
  font-size: 3.5vw;
}

.home .row {
  height: 90vh;
}

.home .potrait {
  position: absolute;
  bottom: 0;
  right: 10vw;
  width: 75vh;
  filter: grayscale(1);
  transition: all ease 0.25s;
  padding-top: 10rem;
  overflow: hidden;
  -webkit-filter: grayscale(1);
}

.home .potrait:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.home .btn-contact{
  margin-left: -.5rem;
}

.home .btn-contact .link {
  color: var(--dark-grey);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.home .btn-contact .link:hover {
  cursor: pointer;
  color: var(--primary-blue);
}

/* Skill */
.skill-section{
  background-image: linear-gradient(rgba(47, 47, 47, 0.85), rgba(47, 47, 47, 0.85)), url("https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-attachment: fixed;
}

.skill-section h1{
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.skill-section .skill-grid div p{
  font-size: .8rem;
  font-weight: bold;
  color: #fff;
}

.skill-section img{
  height: 100px;
  width: auto;
  transition: all .25s;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
}

.skill-section img:hover {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}

.skill-section .skill-grid{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 2rem;
}

/* About */
.about-page {
  position: relative;
  min-height: 100%;
  background-color: var(--grey);
}

.about-page h1{
  font-size: 5rem;
}

/* Experience */
.exp-page h1 {
  font-size: 5rem;
}

.exp-page .exp-card h2 {
  font-size: 150%;
}
.exp-page .exp-card h4 {
  letter-spacing: 3px;
}

.exp-page .exp-card {
  height: 200px;
  background-color: rgba(24, 24, 24, 0.555);
}
.exp-page .exp-card .inner {
  padding: 2rem 0;
  position: relative;
}

.exp-page .container .row .exp-card .inner::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  transition: all 0.5s ease;
}

.exp-page .container .row .exp-card .inner::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  transition: all 0.5s ease;
}

.exp-page .container .row .exp-card:hover .inner::after,
.exp-page .container .row .exp-card:hover .inner::before {
  border-color: var(--primary-blue);
  width: 100%;
  height: 100%;
}

/* Portfolio */
.portfolio-page h1 {
  font-size: 5rem;
}

.portfolio-page .portfolio-card img{
  width: 70%;
  object-fit: cover;
  filter: grayscale(1) opacity(.5);
  -webkit-filter: grayscale(1) opacity(.5);
  transition: all .25s;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
}

.portfolio-page .portfolio-card img:hover{
  filter: grayscale(0) opacity(1);
  -webkit-filter: grayscale(0) opacity(1);
}

.portfolio-page .portfolio-card{
  margin-bottom:"1rem";
}

.portfolio-page .portfolio-card.GPT3 img{
  filter: brightness(0) opacity(.3);
  -webkit-filter: brightness(0) opacity(.3);
}

.portfolio-page .portfolio-card.GPT3 img:hover{
  filter: brightness(0) opacity(1);
  -webkit-filter: brightness(0) opacity(1);
}

/* Contact */
.contact-page{
  background-color: var(--grey);
}

.contact-page h1 {
  font-size: 5rem;
}

.contact-icon {
  color: var(--dark-grey);
  background-color: var(--light-grey);
  border: none;
  padding: 10px;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.contact-icon:hover{
  color: #fff;
  background-color: var(--primary-blue);
}

.contact-page h4{
  color: var(--dark-grey);
  font-weight: 600;
}

/* Footer */
.footer-section{
  background-color: var(--dark-grey);
}

.footer-section h1{
  color: #fff;
}

.footer-section p{
  color: #fff;
}

.footer-section strong{
  color: #fff;
}

.footer-section a{
  color: #fff;
  transition: all ease-in .1s;
  -webkit-transition: all ease-in .1s;
  -moz-transition: all ease-in .1s;
  -ms-transition: all ease-in .1s;
  -o-transition: all ease-in .1s;
}

.footer-section a:hover{
  color: #fff;
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}

/* Page Detail */
.page-detail{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-detail .page-detail-home-btn{
  width: 100%;
  transition: all ease-in .25s;
  -webkit-transition: all ease-in .25s;
  -moz-transition: all ease-in .25s;
  -ms-transition: all ease-in .25s;
  -o-transition: all ease-in .25s;
}

.page-detail .page-detail-home-btn:hover{
  letter-spacing: 4px;
}

.page-detail .page-detail-heading h1{
  font-size: 5rem;
}

.page-detail-gallery .gallery-grid div{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
}

.page-detail-gallery .gallery-grid img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 4px 4px .5rem #00000010;
  transition: all ease-in-out .25s;
  -webkit-transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -ms-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
}

.page-detail-gallery .gallery-grid img:hover{
  transform: translateY(-10px) scale(1.03);
  box-shadow: 1px 1px 1.5rem #0000001b;
  cursor: pointer;
  -webkit-transform: translateY(-10px) scale(1.03);
  -moz-transform: translateY(-10px) scale(1.03);
  -ms-transform: translateY(-10px) scale(1.03);
  -o-transform: translateY(-10px) scale(1.03);
}

/* Responsive */
/* Tablet */
@media screen and (max-width: 1280px) {
  .home .container{
    padding: 0 10vw;
  }
}

@media screen and (max-width: 1000px) {
  /* Home */
  .home .container{
    padding: 0 5vw;
  }

  .home .title-container {
    position: relative;
    z-index: 10;
    width: 100vw;
  }

  .home h1 {
    font-size: 6vh;
    letter-spacing: -0.2rem;
    line-height: 10vh;
  }

  .home p {
    width: 100vw;
    font-size: 3vh;
  }

  .home .btn-contact {
    font-size: 3rem;
  }

  .home .potrait {
    filter: brightness(100%) grayscale(1) opacity(.2);
    right: -7vh;
    z-index: 1;
    -webkit-filter: brightness(100%) grayscale(1) opacity(.2);
}

  .home .potrait:hover {
    filter: none;
  }
  /* About */
  .about-page {
    height: fit-content;
    overflow: hidden;
  }
  .about-page .potrait {
    object-fit: cover;
    height: 7rem;
  }

  .about-page p {
    font-size: 1.5rem;
  }

  /* Page Detail */
  .page-detail{
    width: 100vw;
    overflow: hidden;
  }
}

/* Mobile */
@media screen and (max-width: 700px) {
  /* Home */
  .home .btn-contact {
    display: flex;
    font-size: 2rem;
  }
  .home .potrait {
    right: -15vh;
  }
  /* About */
  .exp-page h1,
  .work-page h1,
  .contact-page h1 {
    font-size: 14vw;
  }
  .about-page p {
    padding: 0 0.7rem;
    font-size: 1rem;
  }

  /* skill */
  .skill-section img{
    height: 100px;
  }

  /* Portfolio */
  .portfolio-card{
    margin-bottom: '2rem';
  }

  /* Page Detail */
  .page-detail .page-detail-heading{
    display: block !important;
  }

  .page-detail .page-detail-heading .btn{
    width: 100%;
  }

  .page-detail .page-detail-heading h1{
    font-size: 4rem;
    text-align: center;
  }

  .page-detail .page-detail-heading, .page-detail .page-detail-description, .page-detail-gallery .gallery-grid{
    max-width: 100%;
  }
}
